
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* common */

body {
    padding: 20px 200px;
    font-family: Arial;;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.article-text p {
    color: white;
}

.main_container_aside-image  {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 20px;  
}



/* intestazione */

.header {
  width:98%;
  margin:0 auto;
}

.header-logo {
    width: 21%;
    border-right: 1px solid #e5e5e5;
}

.header-logo img{
    width: 163px;
}

.header-menu  {
    padding: 30px 0;
}

.header-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.header-menu a {
    text-decoration: none;
    color: #838383;
}

.transparent {
    width: 100%;
    height: 100%;
    background-color: #00000038;
    border-radius: 20px;
}




/* articolo */

.article {
    height: 500px; 
    background-image: url(../img/banner.jpg);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.article-text {
    width: 60%;
    padding: 300px  0px 0px 50px;
}

.article-text-top {
    font-size: 30px;
}




/* corpo */

.main_container {
   
}




/* header corpo */

.main_container_header {  
    padding: 30px 0px; 
}

.main_container_header h2 {
    font-size: 30px;
}

.main_container_header p {
    color: #838383;
}




/* aside sinistro */

.main_container_aside { 
    float: left;
    width: 20%;
}

.img-asidesx {
    background-image: url(../img/img-1.jpg);
}

.main_container_aside-text h3 {
    font-weight: 100px;
    font-size: 14px;
    padding: 10px 0px;
}

.main_container_aside-text p {
    font-size: 14px;
    color: #838383;
}




/* section */

.main_container_section {
    float: left;
    width: calc(100% - 40% -  40px); 
    height: 470px; /* altezza provvisoria!!!!!!! */
    background-color: skyblue;
    margin: 0px 20px;
}



/* aside destro */

.img-asidedx {
    background-image: url(../img/img-3.jpg);
}


/* footer */

.footer {
    height: 60px;
    background-color: #673ab7;
    margin-top: 10px;
}




/* debug */

