
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* common */

body {
    padding: 20px 200px;
    font-family: Arial;;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.article-text p {
    color: white;
}

.main_container_content { 
    float: left;
    width: 32%;  
}

.main_container_content-image  {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.main-container-text {
    padding: 0 10px;
}

.main-container-text h3 {
    font-weight: 100px;
    font-size: 14px;
    padding: 10px 0px;
}

.main-container-text p {
    font-size: 14px;
    color: #838383; 
}

.transparent {
    width: 100%;
    height: 100%;
    background-color: #00000038;
}

.main_container_content-texbottom {
    padding: 15px 0px 60px 0px;
}

.main_container_content-texbottom img {
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 10px ;
}

.bar {
    margin-right: 5px;
    border-right: 1px solid #b3b3b3;
}

.container-central {
    margin: 0px 20px;
}




/* intestazione */

.header {
  width:98%;
  margin:0 auto;
}

.header-logo {
    width: 21%;
    border-right: 1px solid #e5e5e5;
}

.header-logo img{
    width: 163px;
}

.header-menu  {
    padding: 30px 0;
}

.header-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.header-menu a {
    text-decoration: none;
    color: #838383;
}




/* articolo */

.article {
    background-image: url(../img/2742190.jpg);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.article-text {
    width: 60%;
    padding: 300px  0px 50px 50px;
}

.article-text-top {
    font-size: 30px;
}




/* header corpo */

.main_container_header {  
    padding: 30px 0px; 
}

.main_container_header h2 {
    font-size: 30px;
}

.main_container_header p {
    color: #838383;
}

.content-image1 {
    background-image: url(../img/img-1.jpg);
}

.content-image2 {
    background-image: url(../img/img-2.jpg);
}

.content-image3 {
    background-image: url(../img/img-3.jpg);
}

.content-image4 {
    background-image: url(../img/img-4.jpg);
}

.content-image5 {
    background-image: url(../img/img-5.jpg);
}

.content-image6 {
    background-image: url(../img/img-6.jpg);
}

        
